XMLDemo/XMLDemos/SchemaDemoAndXSD/Students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://tempuri.org/Students.xsd" xmlns:mstns="http://tempuri.org/Students.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" id="Students">
	<xs:element name="students">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="student" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string"/>
						<xs:attribute name="age" type="xs:byte"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
